<section id="mainProjectsContainer">
  <div id="projectBox">
    <table class="table">
      <thead>
      <th>Project</th>
      <th>Screenshot</th>
      <th>Description</th>
      <th>Add to Portfolio</th>
      <th>Edit Info</th>
      </thead>
      <tbody>
      {{#each projectInfo}}
        <tr id="project{{this.id}}">
          <td><b>{{this.name}}</b></td>
          {{#if this.thumbnail}}
            <td class="text-center"><img class="projectThumbnail" src="{{this.thumbnail}}" alt="project thumbnail"></td>
          {{else}}
            <td class="text-center"><img class="projectThumbnail" src="/public/img/project-default.png" alt="project thumbnail"></td>
          {{/if}}
          <td class="descField">{{this.description}}</td>
          {{#if this.showToPublic}}
            <td class="text-center"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></td>
          {{else}}
            <td class="text-center">
              <button type="submit" class="btn btn-danger addBtn"  data-id="{{this.id}}">Add</button>
            </td>
          {{/if}}
          <td class="text-center">
            <button type="submit" class="btn btn-warning editBtn" data-id="{{this.id}}" data-name="{{this.name}}" data-description="{{this.description}}" data-role="{{this
            .role}}"
                    data-teamMate="{{this.teamMate}}" data-skills="{{json skills}}" data-url="{{this.url}}" data-screenshot="{{this.screenshot}}">Edit</button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</section>