<!-- left side bar containing main info -->
<section id="leftSidebar" class="col-sm-12 col-md-6">
  <div class="image-container">
    <img src="{{userInfo.photo}}" alt="{{userInfo.name}} profile image for dashboard" class="mypic">
    <button id="change-photo" class="btn btn-success">
      <span class="glyphicon glyphicon-edit"></span> Edit
    </button>
  </div>
  <input type="file" id="profile-image-input" accept="image/*">
  <h3>Hello, <b>{{userInfo.name}}</b>!</h3>
  <h4>{{userInfo.githubUsername}}</h4>
  <h4>{{userInfo.githubId}}</h4>
</section>