<div id="leftSidebar_PUBLIC">
  <!-- <img src="{{userInfo.photo}}" alt="userPhoto"> -->
  <img src="{{userInfo.photo}}" class="bounce-in-fwd">

  <br>
  <hr>
  <h3>{{developer.name}}</h3>
  <h4>{{developer.githubUsername}}</h4>
  <h4>{{developer.githubId}}</h4>
  <br>
  <a href="{{developer.email}}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> CONTACT ME</a>
</div>