<div class="container">
  <p>style.css is located in public/css folder</p>
  <p><a href="/upload">image upload page</a></p>
  <p><a href="/searchResults">searchResults table</a></p>
  <p><a href="/api/user/chart-test">Chart test page</a></p>

  {{#if userInfo}}
    <div>
      <p>{{title}}</p>
      <img class="thumbnail" src="{{userInfo.photo}}">
      <ul>
        <li>Name: {{userInfo.name}}</li>
        <li>profileUrl: {{userInfo.profileUrl}}</li>
        <li>Github ID: {{userInfo.githubId}}</li>
      </ul>
    </div>
    <a class="btn btn-danger" href="/auth/logout">Log out</a>
    {{else}}
    <div>
      <p><a href="/auth/github">GITHUB LOGIN</a></p>
    </div>
    {{/if}}



</div>
