<div class="jumbotron loginBox">
  <p><a class="themeButton" href="/upload">image upload page</a></p>
  <p><a class="themeButton" href="/searchResults">searchResults table</a></p>
  <p><a class="themeButton" href="/api/user/chart-test">Chart test page</a></p>

  {{#if userInfo}}
    <div class="jumbotron loginUser">
      <h2>Hello!</h2>
      <br>
      <img id="loginImage" class="thumbnail bounce-in-fwd" src="{{userInfo.photo}}">
      
      <br>
      <hr>
        <p>Name:<b>  {{userInfo.name}}</b></p>
        <p>profileUrl:<b>  {{userInfo.profileUrl}}</b></p>
        <p>Github ID:<b>  {{userInfo.githubId}}</b></p>
    
    </div>
    <a class="btn btn-danger" href="/auth/logout">Log out</a>
    {{else}}
    <div>
      <p><a href="/auth/github">GITHUB LOGIN</a></p>
    </div>
    {{/if}}



</div>
