
<!-- body for layout -->
<section id="mainDashboardContainer">

  <!-- left side bar containing main info -->
  <div id="leftSidebar">
    <!-- <img src="{{userInfo.photo}}" alt="userPhoto"> -->
    <div class="image-container">
      <img src="{{userInfo.photo}}">
      <button id="change-photo" class="btn btn-success">
        <span class="glyphicon glyphicon-edit"></span> Edit
      </button>
    </div>
    <input type="file" id="image-file-input" accept="image/*">
    <h3>Hello, {{userInfo.name}} !</h3>
    <h4>{{userInfo.githubUsername}}</h4>
    <h4>{{userInfo.githubId}}</h4>
  </div>

  <!-- right container with all the projects -->
  <div id="mainProjectsContainer">
    <div id="projectBox">
      <table class="table">
        <thead>
        <th>Project</th>
        <th>Description</th>
        <th>Add to Portfolio</th>
        </thead>
        <tbody>
        {{#each projectInfo}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>
              <button type="submit" class="btn btn-danger" class="addBtn" data-id="{{this.id}}">Add</button>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</section>

<!-- ADD ANTOHER PROJECT -->
<div id="addProjectBox" class="jumbotron">

  <p>Wanna add more projects?</p>
  <button class="btn btn-primary btn-lg" id="addButton"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Project</button>

</div>

<div class="animatedBackground">
  <br>
</div>

<div id="makePortfolioBox" class="jumbotron">

  <p>Save your public profile</p>
  <button type="submit" class="btn btn-danger btn-lg" id="makeProject"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> SAVE</button>

</div>



<!-- ************************MODAL START*************************************** -->
<div id="addProjectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <h2>Tell us about your project</h2>
    <br>
    <form action="/addProject" method="POST">

      <input class="form-control" type="text" name="name" placeholder="what's your project's name?">
      <br>
      <input class="form-control" type="text" name="description" placeholder="give us a description">
      <br>
      <input class="form-control" type="text" name="role" placeholder="what was your role?">
      <br>
      <input class="form-control" type="text" name="teamMate" placeholder="did you have teammates?">
      <br>
      <hr>
      <h3>ADD YOUR SKILLS</h3>
      <table>
        <tbody id="skillTable">
        </tbody>
      </table>
      <input class="form-control" id="input-skill" type="text" list="skill-list">
      <datalist id="skill-list"></datalist>
      <br>
      <!--<button class="btn btn-lg btn-primary" id="addSkillButton"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Skills</button>-->
      <!--<br>-->
      <hr>
      <br>
      <button type="submit" class="btn btn-primary btn-lg" id="submit"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Submit</button>

    </form>


  </div>
</div>
<!-- ************************MODAL END*************************************** -->


<!--ALERT: PROFILE PHOTO CHANGE COMPLETE ALERT!-->
<div id="upload-complete-alert" class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Profile photo changed successfully.</strong>
</div>

<!--LOADING CIRCLE-->
<div id="loading-wrapper">
  <img src="/public/img/loading.gif">
</div>

<script src="/public/js/myDashBoard.js"></script>