
<!-- body for layout -->
<section id="mainDashboardContainer">

  <!-- left side bar containing main info -->
  <div id="leftSidebar">
    <!-- <img src="{{userInfo.photo}}" alt="userPhoto"> -->
    <div class="image-container">
      <img src="{{userInfo.photo}}" alt="{{userInfo.name}} profile image for dashboard" class="mypic">
      <button id="change-photo" class="btn btn-success">
        <span class="glyphicon glyphicon-edit"></span> Edit
      </button>
    </div>
    <input type="file" id="profile-image-input" accept="image/*">
    <h3>Hello, <b>{{userInfo.name}}</b> !</h3>
    <h4>{{userInfo.githubUsername}}</h4>
    <h4>{{userInfo.githubId}}</h4>
  </div>

  <!-- right container with all the projects -->
  <div id="mainProjectsContainer">
    <div id="projectBox">
      <table class="table">
        <thead>
        <th>Project</th>
        <th>Screenshot</th>
        <th>Description</th>
        <th>Add to Portfolio</th>
        <th>Edit Info</th>
        </thead>
        <tbody>
        {{#each projectInfo}}
          <tr id="project{{this.id}}">
            <td><b>{{this.name}}</b></td>
            {{#if this.thumbnail}}

            <td class="text-center"><img class="projectThumbnail" src="{{this.thumbnail}}" alt="project thumbnail"></td>

            {{else}}
            <td class="text-center"><img class="projectThumbnail" src="/public/img/project-default.png" alt="project thumbnail"></td>
            {{/if}}
            <td class="descField">{{this.description}}</td>
            {{#if this.showToPublic}}
            <td class="text-center"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></td>
            {{else}}
            <td class="text-center">
              <button type="submit" class="btn btn-danger addBtn"  data-id="{{this.id}}">Add</button>
            </td>
            {{/if}}
            <td>
              <button type="submit" class="btn btn-warning editBtn" data-id="{{this.id}}" data-name="{{this.name}}" data-description="{{this.description}}" data-role="{{this
              .role}}"
                      data-teamMate="{{this.teamMate}}" data-skills="{{json skills}}" data-url="{{this.url}}" data-screenshot="{{this.screenshot}}">Edit</button>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>


</section>

<!-- ADD ANTOHER PROJECT -->
<div id="addProjectBox" class="jumbotron">

  <p>Wanna add more projects?</p>
  <button class="btn btn-primary btn-lg" id="addButton"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Project</button>

</div>

<div class="animatedBackground">
  <br>
</div>

<div id="makePortfolioBox" class="jumbotron">

  <p>Save your public profile</p>
  <button type="submit" class="btn btn-danger btn-lg" id="makeProject"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> SAVE</button>

</div>


<!-- ******************** EDIT MODAL START*************************************** -->
<div id="editProjectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <h2 id="modal-title">Edit your project</h2>
    <br>
    <form>
      <img style="cursor: pointer" id="projectImage" src="/public/img/project-default.png" alt="project thumbnail">
      <input id="project-image-input" type="file" accept="image/*">
      <br>
      <br>
      <input id="input1" class="form-control" type="text" name="name" placeholder="What's your project's name?">
      <br>
      <input id="input2" class="form-control" type="text" name="description" placeholder="Give us a description">
      <br>
      <input id="input3" class="form-control" type="text" name="role" placeholder="What was your role?">
      <br>
      <input id="input4" class="form-control" type="text" name="teamMate" placeholder="Who are your teammates? (use comma to separate)">
      <br>
      <input id="input5" class="form-control" type="url" name="url" placeholder="Enter the project url">
      <br>
      <hr>
      <h3>ADD YOUR SKILLS</h3>
      <table>
        <tbody id="skillTable">
        </tbody>
      </table>
      <input class="form-control" id="input-skill" type="text" list="skill-list">
      <datalist id="skill-list"></datalist>
      <br>
      <hr>
      <br>
    </form>
    <button type="button" class="btn btn-primary btn-lg themeButton" id="editSubmitButton"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Save </button>
    <button type="button" class="btn btn-primary btn-lg themeButton" id="createSubmitButton"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Create </button>
  </div>
</div>
<!-- ************************MODAL END*************************************** -->



<!--ALERT: PROFILE PHOTO CHANGE COMPLETE ALERT!-->
<div id="upload-complete-alert" class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Profile photo changed successfully.</strong>
</div>

<!--LOADING CIRCLE-->
<div id="loading-wrapper">
  <img src="/public/img/loading.gif">
</div>

<script src="/public/js/myDashBoard.js"></script>