
<!-- body for layout -->
<section id="mainDashboardContainer">

<!-- left side bar containing main info -->
	<div id="leftSidebar">
		<!-- <img src="{{userInfo.photo}}" alt="userPhoto"> -->
		<img src="https://avatars0.githubusercontent.com/u/23092057?v=3&s=460">
		<h3>Hello, {{userInfo.name}} !</h3>
		<h4>{{userInfo.githubUsername}}</h4>
		<h4>{{userInfo.githubId}}</h4>
	</div>

<!-- right container with all the projects -->
	<div id="mainProjectsContainer">
		<div id="projectBox">
			<table class="table">
				<thead>
					<th>Project</th>
					<th>Description</th>
					<th>Add to Portfolio</th>
				</thead>
				<tbody>
					{{#each projectInfo}}
						{{#if !projectInfo.selected}}
							<td>{{projectInfo.name}}</td>
							<td>{{projectInfo.description}}</td>
							<td>
									<button type="submit" class="btn btn-danger" class="addBtn" data-id="{{projectInfo.id}}">Add</button>
							</td>
						{{/if}}
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>

	</section>

	<!-- ADD ANTOHER PROJECT -->
	<div id="addProjectBox" class="jumbotron">
		
		<p>Wanna add more?</p>
		<button class="btn btn-primary btn-lg" id="addButton"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Project</button>

	</div>

	<div class="animatedBackground">
		<br>
	</div>

	<div id="makePortfolioBox" class="jumbotron">
		
		<p>We'll do the rest</p>
		<button type="submit" class="btn btn-danger btn-lg" id="makeProject"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Make My Portfolio</button>

	</div>



 <!-- ************************MODAL START*************************************** -->
  <div id="addProjectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <h2>Tell us about your project</h2>
      <br>
      		<form action="/addProject" method="POST">

			<input type="text" name="name" placeholder="" ="what's your project's name?">
			<br>
			<input type="text" name="description" placeholder="" ="give us a description">
			<br>
			<input type="text" name="role" placeholder="" ="what was your role?">
			<br>
			<input type="text" name="teamMate" placeholder="" ="did you have teammates?">
			<br>
			<hr>
			<table>
				<tbody id="skillTable">
					<td>ADD YOUR SKILLS</td>
				</tbody>
			</table>
			<br>
			<button class="btn btn-lg btn-primary" id="addSkillButton"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Skills</button>
			<br>
			<hr>
			<br>
			<button type="submit" class="btn btn-primary btn-lg" id="submit"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Submit</button>

		</form>


    </div>
  </div>
 <!-- ************************MODAL END*************************************** -->



<script type="text/javascript">
	
	$('#addButton').on("click", function(event) {
		event.preventDefault();

		 $("#addProjectModal").modal('toggle');
	});

	$('#addBtn').on("click", function(event) {

        $.put("/updateSelected", {id: $(this).data('id')}, function(result){
        	console.log("Update project successful");
        });
	});

	var count=1;

	$('#addSkillButton').on("click", function(event) {
		event.preventDefault();
		
		var input= $("<input type='text' name='skill'"+count+">");
		var row = $('<tr>').append(input);
		
		 $("#skillTable").append(row);
		 count++;

	});

	

</script>