<div id="searchContainer" class="container">

  <section class="container-fluid">
    
    <table id="resultRows" class="table" style="color: white">
      <h1 style="color: white">Results</h2>
      <tbody>
      {{#if users}}
        {{#each users}}
          <a href="/portfolio/{{id}}"><tr class="rRows">
            <!-- <td> <span  class="userName">{{name}}</span></td> -->
            <td class="d-flex">
              <div class="hoverImg imgUser">
                <figure>
                  <a href="/portfolio/{{id}}">
                    <img class="userImg img-thumbnail" src="{{photo}}" alt="{{name}} GitMe profile image">
                  </a>
                </figure>
              </div>
              <div class="infoUser">
              <span  class="userName">{{name}}</span><br>
              <span  class="text-muted">@{{githubUsername}}</span><br>
              <a class="text-muted glyphicon glyphicon-envelope muted-link" href="mailto:{{email}}"> {{email}}</a> 

              </div>
            </td>
 
          </tr></a>
        {{/each}}
      {{/if}}
      </tbody>
    </table>
  </section>

</div>
