<div id="searchContainer" class="container">

  <section class="container-fluid">
    
    <table id="resultRows" class="table" style="color: white">
      <h1 style="color: white">Results</h2>
      <tbody>
      {{#if users}}
        {{#each users}}
          <a href="/portfolio/{{id}}"><tr class="rRows">
            <!-- <td> <span  class="userName">{{name}}</span></td> -->
            <td>
              <div class="hoverImg">
                <figure><a href="/portfolio/{{id}}"><img class="userImg img-thumbnail" src="{{photo}}" alt="{{name}} GitMe profile image"></a></figure>
              </div>
            </td>
            <td align="center"> <span  class="userName">{{name}}</span></td>
            <td align="center" class="userRole">@{{githubUsername}}</td>
          </tr></a>
        {{/each}}
      {{/if}}
      </tbody>
    </table>
  </section>

</div>
